<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= gettext("SteinExample") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <meta property="og:site_name" content="<%= gettext("SteinExample") %>" />

    <%= if Map.has_key?(assigns, :open_graph_title) do %>
      <meta property="og:title" content="<%= @open_graph_title %>" />
    <% end %>

    <%= if Map.has_key?(assigns, :open_graph_description) do %>
      <meta property="og:description" content="<%= @open_graph_description %>" />
    <% end %>

    <%= if Map.has_key?(assigns, :open_graph_url) do %>
      <meta property="og:url" content="<%= @open_graph_url %>" />
    <% end %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md" role="menubar">
        <div class="container">
          <%= link(to: Routes.page_path(@conn, :index), class: "navbar-brand") do %>
            <%= gettext("SteinExample") %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">
              <%= if Map.has_key?(assigns, :current_user) do %>
                <li class="nav-item">
                  <%= link("Profile", to: Routes.profile_path(@conn, :show), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link("Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "nav-link") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link("Register", to: Routes.registration_path(@conn, :new), class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link("Sign In", to: Routes.session_path(@conn, :new), class: "nav-link") %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <%= if flash = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= flash %></p>
      <% end %>
      <%= if flash = get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= flash %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
